@charset "utf-8";

.monsterklasse {
	animation: monsteranimation;
	animation-play-state: paused;
}

input.monsterklasse:hover {
	animation-play-state: running;
	animation-direction: alternate;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes monsteranimation {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(6px);
	}
}


.monsterklasseDauerhaft {
	animation: monsteranimation;
	animation-play-state: running;
	animation-direction: alternate;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes monsteranimation {
	from {
		transform: translateY(-6px);
	}
	to {
		transform: translateY(6px);
	}
}

